<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" layout:decorate="~{layout/basic.html}">
<head>
  <meta charset="UTF-8">
  <title>글 작성 화면</title>
</head>
<div layout:fragment="content">
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          글 작성하기
        </div>
        <div class="card-body">
          <form action="/board/register" method="post">
            <div class="input-group mt-3">
              <span class="input-group-text">제목</span>
              <input type="text" name="title" class="form-control" placeholder="제목">
            </div><!--제목-->
            <div class="input-group mt-3">
              <span class="input-group-text">내용</span>
              <textarea class="form-control col-sm-5" rows="5" name="content"></textarea>
            </div><!--내용-->
            <div class="input-group mt-3">
              <span class="input-group-text">작성자</span>
              <input type="text" name="writer" class="form-control" placeholder="작성자" th:value="${#authentication.principal.username}" readonly>
            </div><!--작성자-->

            <!--첨부파일 추가-->
            <div class="input-group mt-3">
              <span class="input-group-text">이미지 첨부</span>
              <div class="float-end uploadHidden">
                <button type="button" class="btn btn-primary uploadFileBtn">파일 추가</button>
              </div>
            </div>


            <div class="my-4">
              <div class="float-end">
                <button type="submit" class="btn btn-primary submitBtn">글쓰기</button>
                <button type="button" class="btn btn-info" th:onclick="|location.href='@{/board/list}'|">글목록으로</button>
                <button type="reset" class="btn btn-secondary">다시 작성</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--첨부파일 이미지 썸네일 보여주는 부분-->
  <div class="row mt-3">
    <div class="col">
      <div class="container-fluid d-flex uploadResult" style="flex-wrap:wrap;">
      </div>
    </div>
  </div>
  <!--파일 첨부하기 위한 모달창(팝업)-->
  <div class="modal uploadModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">파일 업로드</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="file" name="files" class="form-control" multiple>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary  uploadBtn">업로드</button>
          <button type="button" class="btn btn-outline-dark closeUploadBtn">닫기</button>
        </div>
      </div>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/upload.js"></script>

</div>

<script layout:fragment="script" th:inline="javascript">
    const auth=[[${#authentication}]];
    //BoardController에서 만들어진 errors객체를 errors변수에 저장
    const errors=[[${errors}]]
    console.log(errors);
    //문자열 변수 errorMsg 선언하고 초기화
    let errorMsg='';
    //만약 에러가 있으면 (errors==true)
    if(errors) {
        //errors개수만큼 반복
        for (let i=0; i< errors.length; i++){
            //에러가 있는 필드와 에러 메시지(code)를 문자열로 errorMsg에 추가 저장
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`;
        }
        //메시지창으로 errorMsg 내용 보여주기
        alert(errorMsg);
    }
    //팝업창(모달창) 보여주기
    const uploadModal=new bootstrap.Modal(document.querySelector(".uploadModal"));

    //
    document.querySelector(".uploadFileBtn").addEventListener("click", function(e){
        e.preventDefault();
        uploadModal.show();
    });

    //모달창에서 파일 업로드하기, 썸네일 출력
<!--    클래스 이름이 uploadBtn인 객체에 클릭 이벤트 설정-->
    document.querySelector(".uploadBtn").addEventListener("click", function(e){
<!--    상수형 변수를 선언한 다음 FormData객체를 생성 -> 저장-->
        const formObj=new FormData();
<!--        문서에서 input type = files라는 객체를 fileInput 상수형변수에 저장-->
        const fileInput=document.querySelector("input[name='files']");
<!--        file input의 값에서 files 속성값을 files 변수에 저장-->
        const files=fileInput.files;
<!--첨부파일 이미지 개수만큼 반복-->
        for(let i=0; i<files.length; i++){
<!--        formObj객체에 files[0], files[1], files[2] 추가-->
            formObj.append("files", files[i]);
        }
<!--        upload.js의 uploadToServer메서드 호출하면서 formObj를 매개변수로 넘기고, 반환받은 값이 오류가 없으면 then 다음의 명령어 실행-->
        uploadToServer(formObj).then(result=> {
            //console.log(result);
<!--            result 결과값 개수만큼 반복-->
            for(const uploadResult of result){
<!--            showUploadFile메서드 호출-->
                showUploadFile(uploadResult);
            }
<!--            팝업창 숨김-->
            uploadModal.hide()
<!--            반환값에 오류가 있으면 팝업창 숨김-->
        }).catch(e=>{
            uploadModal.hide()
        });
    });

    //업로드한 이미지 파일 보여주기
<!--    문서에서 클래스이름이 uploadResult인 객체를 가져와서 uploadResult 변수에 저장-->
    const uploadResult=document.querySelector(".uploadResult");
<!--showUploadFile함수는 서버와 통신한 결과값(uploadResult)을 전달받음.{} 사용함. -> uploadResult에서 값을 추출할 수 있음.-->
    function showUploadFile({uuid, fileName, link}){
        const str=`<div class="card col-4">
            <div class="card-header d-flex justify-content-center">
            ${fileName}&nbsp;&nbsp;&nbsp;
<!--            삭제 버튼을 클릭하면 removeFile 함수 호출하면서 uuid, fileName, this(link)를 매개변수로 넘김-->
            <button class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}', '${fileName}', this)" >삭제</button>
            </div>
            <div class="card-body">
                <img src="/view/${link}" data-src="${uuid+"_"+fileName}">
            </div>
        </div>`;
<!--        str 변수의 문자열을 uploadResult영역에 태그로 추가-->
        uploadResult.innerHTML += str;
    }

    //첨부파일 삭제, obj는 버튼
    function removeFile(uuid, fileName, obj){
        console.log(uuid);
        console.log(fileName);
        console.log(obj);
<!--closest() 메서드는 현재 엘리먼트(요소, 객체)에서 가장 가까운 부모객체를 반환함.-->
        const targetDiv=obj.closest(".card");
        removeFileToServer(uuid, fileName).then(data=>{
            targetDiv.remove();
        });
    }
<!--    팝업창의 <닫기> 버튼 클릭하면 팝업창 숨김-->
  document.querySelector(".closeUploadBtn").addEventListener("click", function(e){
    e.preventDefault();
    uploadModal.hide();
  });
<!--  글쓰기(submitBtn) 버튼을 클릭하면 글목록과 첨부파일 저장-->
<!--클래스 이름이 submitBtn인놈 찾아서 click 이벤트에 따른 함수를 설정.-->
  document.querySelector(".submitBtn").addEventListener("click", function(e){
<!--  a태그나 button 눌렀을때(submit기능) href 작동하는 것을 막음.-->
    e.preventDefault();
<!--    클래스이름이 uploadHidden인 놈 찾아서 target에 넣어라 -->
    const target = document.querySelector(".uploadHidden");
<!--    uploadResult에서 img태그를 모두 찾아서 uploadFiles에 넣어라-->
    const uploadFiles = uploadResult.querySelectorAll("img");
    let str = '';
<!--첨부파일 이미지 개수만큼 반복 - uploadFiles변수를 보면 알 수 있음. -->
    for(let i =0; i < uploadFiles.length; i++){
      const uploadFile = uploadFiles[i];
<!--      uploadFile에 들어있는 이미지의 src속성값을 imgLink에 넣어라-->
      const imgLink = uploadFile.getAttribute("data-src");
<!--      input 태그를 str변수에 문자열로 저장-->
      str += `<input type = "hidden" name = "fileNames" value = "${imgLink}">`;
    }
    target.innerHTML = str;
<!--    submitBtn버튼에 submit()명령 전달해서 form의 action속성이 실행되도록 함.-->
    document.querySelector("form").submit();
  });
</script>
</html>